name: regresion Parallel Cypress Tests

on: push 
  

jobs:   
    cypress-run:
      runs-on: ubuntu-latest
     
      steps:
        - name: Checkout Repository
          uses: actions/checkout@v3 

        - name: cypress run
          uses: cypress-io/github-action@v5

        - name: Upload Cypress reports 
          if: always()
          uses: actions/upload-artifact@v4
          with:
            name: html-mochawesome-reports
            path: cypress/reports/html
           
        - name: Slack Notification
          uses: rtCamp/action-slack-notify@v2
          env:
            SLACK_COLOR: ${{ job.status }} # or a specific color like 'good' or '#ff00ff'
            SLACK_ICON: https://github.com/rtCamp.png?size=48
            SLACK_MESSAGE: 'TEST RPORT for regresion https://github.com/lucasnapolit/anita-basin/actions/runs${{ github.run_id }}'
            SLACK_TITLE: cypress test report
            SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}